.centered-form {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vh-100 {
  height: 100vh;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card-profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 180px;
  height: 180px;
  /* Adjust the height to ensure consistency with other steps */
  overflow: hidden;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid black;

}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.upload-icon {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  cursor: pointer; /* Make sure the cursor indicates it's clickable */
}

.upload-icon i {
  font-size: 1.5rem; /* Size of the icon */
  color: black; /* Icon color */
  margin-right: 0.5rem; /* Space between icon and text */
}

.upload-text {
  font-size: 14px; /* Text size */
}




/* Ensure the spinner container takes up the entire viewport */
.spinner-wrapper {
height: 100vh; /* Full viewport height */
overflow: hidden; /* Prevent scrolling */
}

/* Optional: Customize spinner size and color */
.spinner-border {
width: 3rem;
height: 3rem;
border-width: 0.3rem;
}

.spinner-border.text-primary {
color: black; /* Bootstrap primary color */
}



.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  z-index: 1000; /* Ensures it covers everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.spinner-wrapper p {
  font-size: 1rem;
  color: #000;
}



