  <section id="signup-page">
    <div class="container-sm ">
        <div class="row justify-content-center mb-5 mt-3">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                
  

                <div class="container pb-3 text-center align-items-cente mt-5" >
                    <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1713107223/Screenshot_2024-04-14_203418-removebg-preview_hg6usb.png" alt=""  style="width: 200px; height: 200px; object-fit: cover;">
                </div>

                <div class="container pt-4 pb-2">
                  <h4 class="text-center fw-light mb-4">Welcome to <br>Talent Platform</h4>
              </div>

                <div class="row g-3 mb-4">
                    <div class="d-grid gap-3 d-md-flex justify-content-center">
                        <input type="radio" id="seekerRadio" name="userType" class="btn-check" (change)="selectUserType('seeker')" autocomplete="off">
                        <label class="btn btn-outline-primary rounded-3" for="seekerRadio">As Seeker</label>

                        <input type="radio" id="recruiterRadio" name="userType" class="btn-check" (change)="selectUserType('recruiter')" autocomplete="off">
                        <label class="btn btn-outline-primary rounded-3" for="recruiterRadio">As Recruiter</label>
                    </div>
                </div>

                <!-- Conditionally show the Sign Up button -->
                <div class="col-12 d-flex justify-content-center mb-4" *ngIf="isUserTypeSelected">
                    <button type="button" class="btn btn-primary" (click)="navigateToRegistration()">Sign Up</button>
                </div>

                <div class="col-12 text-center">
                    <p class="mb-0 text-center fs-6 mt-5">Already a member? <span class="text-primary" (click)="login()" style="cursor: pointer;">Login</span></p>
                </div>

            </div>
        </div>
    </div>
</section>
