<!-- src/app/confirm-registration/confirm-registration.component.html -->
<h3 class="text-center mb-5">Important for project </h3> 
<div class="container">
    <div class="row">
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupAllDetailsAlert()">Show Signup All Details Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupFullNameAlert()">Show Signup Full Name Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupSurnameAlert()">Show Signup Surname Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupEmailAlert()">Show Signup Email Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupValidEmailAlert()">Show Signup Valid Email Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupPasswordAlert()">Show Signup Password Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showSignupPasswordMatchAlert()">Show Signup Password Match Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showProfileImageAlert()">Show Profile Image Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showProfileImageFormatAlert()">Show Profile Image Format Alert</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showOtpVerificationAlert()">Show OTP Verification Alert</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showOtpInvalidAlert()">Invalid OTP. You have 2 attempt(s) left.</button>
      </div>




      
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showAccountRegisteredSuccess()">Show Account Registered Success</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showOtpVerifiedSuccess()">Show OTP Verified Success</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showAccountVerifiedSuccess()">Show Account Verified Success</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showWelcomeSuccess()">Show Welcome Success</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showLoginSuccess()">Show Login Success</button>
      </div>
    </div>
  </div>

<br>

  <h3 class="text-center mb-5 mt-5">Alternate alerts</h3> 
  <div class="container">

  </div>
  