<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>


  <div class="container">
    <div class="row justify-content-center" *ngIf="!isLoading">
      <div class="col-md-4">
        <div class="card centered-form mt-5">
          <div class="card-body justify-content-center">

            <form [formGroup]="loginDetails" (ngSubmit)="onSubmit()">
              <div class="container">
                <h4 class="text-center mb-5">Login Details</h4>
              </div>




              <!-- Email Input -->
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': loginDetails.get('email')?.invalid && loginDetails.get('email')?.touched}"
                  placeholder="Email address" id="email" formControlName="email" type="email" class="form-control"
                  style="height: 45px; border-radius: 10px;" />
                <div *ngIf="loginDetails.get('email')?.touched">
                  <small *ngIf="loginDetails.get('email')?.errors?.['required']" class="text-danger">Email is
                    required.</small>
                  <small *ngIf="loginDetails.get('email')?.errors?.['pattern']" class="text-danger">Invalid Email
                    format.</small>
                </div>
              </div>

              <!-- Create Password -->
              <div class="form-group row align-items-center mt-3">
                <input
                  [ngClass]="{'is-invalid': loginDetails.get('password')?.invalid && loginDetails.get('password')?.touched}"
                  placeholder="Create Password" id="password" formControlName="password" autocomplete="new-password"
                  type="password" class="form-control" style="height: 45px; border-radius: 10px;" />
                <div *ngIf="loginDetails.get('password')?.touched">
                  <small *ngIf="loginDetails.get('password')?.errors?.['required']" class="text-danger">Password is
                    required.</small>
                  <small *ngIf="loginDetails.get('password')?.errors?.['pattern']" class="text-danger">Invalid Password
                    format.</small>
                </div>
              </div>




              <!-- Buttons -->
              <div class="mt-5 text-center">
                <button type="submit" class="btn btn-primary w-100">Login</button>
              </div>



              <!-- Error Message for Invalid Form -->
              <div *ngIf="submitted && loginDetails.invalid" class="text-danger mt-3 text-center">
                {{ errorMessage }}
              </div>

              <!-- Existing error message for login failure -->
              <div *ngIf="errorMessage && !loginDetails.invalid" class="text-danger mt-3 text-center">
                {{ errorMessage }}
              </div>


            </form>



            <div class="card-footer text-center mt-5">
              <p class="mb-0">New user? <span class="text-primary" (click)="register()" style="cursor: pointer;">Create
                  an account</span></p>
            </div>

          </div>
        </div>

      </div>

    </div>



    <div class="row d-flex justify-content-center align-items-center spinner-wrapper" *ngIf="isLoading">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="mt-3">
          <p *ngIf="loginSuccess">Redirecting you to main page</p>
          <p *ngIf="!loginSuccess">Error login in...</p>
        </div>
      </div>
    </div>


  </div>

</body>

</html>